@model TravelPY.Models.DatTour

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutOne.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DatTour</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaTour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaTour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoCho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoCho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDatTour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDatTour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThanhToan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThanhToan)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaThanhToan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaThanhToan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayThanhToan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayThanhToan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhuongXa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhuongXa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaKhachHangNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaKhachHangNavigation.MaKhachHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TongTien)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaDatTour">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
