@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<TravelPY.Models.DatTour>
@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách đơn hàng" + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutOne.cshtml";
}

<h3>QUẢN LÍ ĐƠN HÀNG</h3>
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="AdminHome" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <span class="breadcrumb-item active">Danh sách tour đã đặt : trang @CurrentPage</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-md-8">
                <div class="row">

                    
                    <div class="col-md-6">
                        <div class="input-affix m-v-10">
                            <select class="custom-select" id="txtCatID" name="txtCatID" style="min-width: 200px;" asp-items="ViewBag.TrangThai">
                                <option selected>Chọn trạng thái</option>
                                <option value="0">Chọn tất cả</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        </br>

        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên khách hàng</th>
                        <th>Ngày mua</th>
                        <th>Tổng tiền</th>
                        <th>Trạng thái</th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {

                            <tr>
                                <td>@item.MaDatTour</td>
                                <td>@item.MaKhachHangNavigation.TenKhachHang</td>
                                <td>@item.NgayDatTour</td>
                                @*<td>@item.OrderDetails.Sum(x =>x.TotalMoney).Value.ToString("#,##0") VNĐ</td>*@
                                <td>@item.TongTien.ToString("#,##0") VND</td>
                                <td>@item.MaTrangThaiNavigation.TenTrangThai</td>



                                <td>
                                    <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminDatTour" asp-action="Details" asp-route-id="@item.MaDatTour">Chi tiết</a>
                                    <a data-target="#modal-header" data-toggle="modal" class="btn btn-secondary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminDatTour" asp-action="ChangeStatus" asp-route-id="@item.MaDatTour">Cập nhật trạng thái</a>
                                    <a class="btn btn-secondary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminDatTour" asp-action="Edit" asp-route-id="@item.MaDatTour">Chỉnh sửa</a>
                                    <a class="btn btn-success btn-tone m-r-5" asp-area="Admin" asp-controller="AdminDatTour" asp-action="Delete" asp-route-id="@item.MaDatTour">Xóa</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>

            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminDatTour" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="modal-header" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $('#modal-header').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var url = button.attr("href");
            var modal = $(this);
            // note that this will replace the content of modal-content ever time the modal is opened
            modal.find('.modal-content').load(url);
        });
        $(document).ready(function () {
            jQuery("#txtCatID").change(function () {
                var maTrangThai = jQuery(this).children(":selected").attr("value");
                maTrangThai = parseFloat(maTrangThai);
                $('#txtCatID option')
                    .removeAttr('selected');
                $("#txtCatID > [value=" + maTrangThai + "]").attr("selected", "true");
                $.ajax({
                    url: '/Admin/AdminDatTour/Filtter',
                    datatype: "json",
                    type: "GET",
                    data: {
                        MaTrangThai: maTrangThai
                    },
                    async: true,
                    success: function (results) {
                        if (results.status == "success") {
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
        });
    </script>

}


