@model TravelPY.Models.DanhMuc

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutOne.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DanhMuc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenDanhMuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenDanhMuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoTour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoTour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alias)
        </dd>
        <tr>
                  <td>Hình ảnh:</td>
                    <td>
                      <img width="200" height="200" src="~/AdminAssetsOne/images/danhmuc/@Model.HinhAnh" alt="@Model.TenDanhMuc" />
                    </td>
                </tr>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaDanhMuc">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
