@model TravelPY.Models.TaiKhoan

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutOne.cshtml";
}


<div class="card-body">
    <h4 class="card-title">Xác nhận xóa tài khoản</h4>
    </br>
    <h6 class="text-warning">Bạn muốn xoá tài khoản --@Model.TenTaiKhoan-- ?</h6>
    <div class="table-responsive col-md-6">
        <table class="table text-white">

            <tbody>
                <tr>
                    <td>Mã tài khoản:</td>
                    <td class="font-weight-semibold">@Model.MaTaiKhoan</td>
                </tr>
                <tr>
                    <td>Tên tài khoản:</td>
                    <td>@Model.TenTaiKhoan</td>
                </tr>
                <tr>
                    <td>Số điện thoại:</td>
                    <td>@Model.Sdt</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <td>Vai trò:</td>
                    <td>@Model.MaVaiTroNavigation.MoTa</td>
                </tr>
                <tr>
                    <td>Trạng thái:</td>
                    <td>
                        @if (Model.TrangThai == true)
                        {

                            <div class="">
                                <label class="form-check-label">

                                    <input type="checkbox" checked disabled data-toggle="toggle" data-onstyle="outline-success" data-offstyle="outline-danger" data-size="xs">
                                    Đang hoạt động
                                </label>
                            </div>

                        }
                        else
                        {

                            <div class="">
                                <label class="form-check-label">

                                    <input type="checkbox" disabled data-toggle="toggle" data-onstyle="outline-success" data-offstyle="outline-danger" data-size="xs">
                                    Không hoạt động
                                </label>
                            </div>
                        }
                    </td>
                </tr>
                <tr>
                    <td>Ngày tạo:</td>
                    <td>@Model.NgayTao</td>
                </tr>
                <tr>
                    <td>Lần đăng nhập cuối:</td>
                    <td>@Model.LastLogin</td>
                </tr>
                <tr>

                    <td>
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="MaTaiKhoan" />

                            <input type="submit" value="Xác nhận xóa" class="btn btn-outline-danger btn-icon-text col-md-10" style="height:31.4px;">
                            
                        </form>
                    </td>
                    <td>
                        <a class="btn btn-outline-warning btn-icon-text col-md-10 row-mb-10" asp-area="Admin" asp-controller="AdminTaiKhoan" asp-action="Index">
                            <i class="mdi mdi-reload btn-icon-prepend"></i> Trở về
                        </a>
                    </td>
                </tr>
            </tbody>

        </table>

    </div>
</div>
