@model TravelPY.Models.TaiKhoan

@{
    ViewData["Title"] = "Thông tin tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutOne.cshtml";
}

<div class="card-body">
    <h4 class="card-title">Thông tin tài khoản</h4>
    <div class="table-responsive col-md-4">
        <table class="table text-white">
            <tbody>
                <tr>
                    <td>Mã tài khoản:</td>
                    <td class="font-weight-semibold">@Model.MaTaiKhoan</td>
                </tr>
                <tr>
                    <td>Tên tài khoản:</td>
                    <td>@Model.TenTaiKhoan</td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td>@Model.MatKhau</td>
                </tr>
                <tr>
                    <td>Số điện thoại:</td>
                    <td>@Model.Sdt</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <td>Vai trò:</td>
                    <td>@Model.MaVaiTroNavigation.MoTa</td>
                </tr>
                <tr>
                    <td>Trạng thái:</td>
                    <td>
                        @if (Model.TrangThai == true)
                        {

                            <div class="">
                                <label class="form-check-label">

                                    <input type="checkbox" checked disabled data-toggle="toggle" data-onstyle="outline-success" data-offstyle="outline-danger" data-size="xs">
                                    Đang hoạt động
                                </label>
                            </div>

                        }
                        else
                        {

                            <div class="">
                                <label class="form-check-label">

                                    <input type="checkbox" disabled data-toggle="toggle" data-onstyle="outline-success" data-offstyle="outline-danger" data-size="xs">
                                    Không hoạt động
                                </label>
                            </div>
                        }
                    </td>
                </tr>
                <tr>
                    <td>Ngày tạo:</td>
                    <td>@Model.NgayTao</td>
                </tr>
                <tr>
                    <td>Lần đăng nhập cuối:</td>
                    <td>@Model.LastLogin</td>
                </tr>
            </tbody>

        </table>

        <div>
            <a class="btn btn-outline-primary btn-icon-text col-md-5" asp-area="Admin" asp-controller="AdminTaiKhoan" asp-action="Edit" asp-route-id="@Model.MaTaiKhoan">
                <i class="mdi mdi-file-check btn-icon-prepend"></i> Sửa
            </a>
            <a style="float:right" class="btn btn-outline-warning btn-icon-text col-md-5" asp-area="Admin" asp-controller="AdminTaiKhoan" asp-action="Index">
                <i class="mdi mdi-reload btn-icon-prepend"></i> Trở về
            </a>
        </div>
    </div>
</div>