@model TravelPY.Models.KhachSan

@{
    ViewData["Title"] = "Xoá khách sạn";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutOne.cshtml";
}



<div class="card-body">
    <h4 class="card-title">Bạn có muốn xoá khách sạn này không ?</h4>
    <div class="table-responsive">
        <form asp-action="Delete">
            <input type="hidden" asp-for="MaKhachSan" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
        <table class="table text-white">
            <tbody>
                <tr>
                    <td>Mã khách sạn:</td>
                    <td class="font-weight-semibold">@Model.MaKhachSan</td>
                </tr>
                <tr>
                    <td>Tên khách sạn:</td>
                    <td>@Model.TenKhachSan</td>
                </tr>
                <tr>
                    <td>Hình ảnh:</td>
                    <td>
                        <img width="200" height="200" src="~/AdminAssetsOne/images/khachsans/@Model.HinhAnh" alt="@Model.HinhAnh" />
                    </td>
                </tr>
                <tr>
                    <td>Tổng số phòng:</td>
                    <td>@Model.SoPhong</td>
                </tr>
                <tr>
                    <td>Số điện thoại:</td>
                    <td>@Model.Sdt</td>
                </tr>

                <tr>
                    <td>Địa chỉ:</td>
                    <td>@Model.DiaChi</td>
                </tr>
                <tr>
                    <td>Alias:</td>
                    <td>@Model.Alias</td>
                </tr>
                <tr>
                    <td>Nội dung:</td>
                    <td>@Html.Raw(Model.MoTa)</td>
                </tr>
            </tbody>

        </table>

       
    </div>
</div>
