@model IEnumerable<TravelPY.Models.KhachSan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutOne.cshtml";
}

<h3>QUẢN LÍ BÀI VIẾT</h3>
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <span class="breadcrumb-item active">Danh sách KhachSan : trang @ViewBag.CurrentPage</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <a class="btn btn-primary" asp-area="Admin" asp-controller="AdminKhachSan" asp-action="Create"><i class="anticon anticon-plus-circle m-r-5"></i><span>Thêm mới khách sạn</span></a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover mb-0">
                <thead>
                    <tr>
                        <th>Mã Khách Sạn</th>
                        <th style="max-width:200px">Tên Khách Sạn</th>
                        <th>Số Điện Thoại</th>
                        <th>Địa chỉ</th>

                        <th>Action</th>

                    </tr>
                </thead>
                <tbody id="records_table">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.MaKhachSan</td>
                                <td style="max-width:200px">@item.TenKhachSan</td>
                                <td>@item.Sdt</td>
                                <td>@item.DiaChi</td>


                                <td>
                                    <a asp-area="Admin" asp-controller="AdminKhachSan" asp-action="Details" asp-route-id="@item.MaKhachSan" class="btn btn-outline-primary">Chi tiết</a>
                                    <a asp-area="Admin" asp-controller="AdminKhachSan" asp-action="Edit" asp-route-id="@item.MaKhachSan" class="btn btn-outline-warning">Sửa</a>
                                    <a asp-area="Admin" asp-controller="AdminKhachSan" asp-action="Delete" asp-route-id="@item.MaKhachSan" class="btn btn-outline-danger">Xoá</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            @*<div aria-label="Page navigation example">
            <ul class="pagination float-right mt-1">
            <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminKhachSan" asp-route-MaDanhMuc="@ViewBag.CurrentMaPage" asp-action="Index" />
            </ul>
            </div>*@
        </div>
    </div>
</div>

