@model List<Tour>
@if (Model != null && Model.Count() > 0)
{
    <div class="product-item-wrap row">
        @foreach (var item in Model)
        {
            string url = $"/tour/{item.Alias}/{item.MaTour}.html";
            <div class="col-md-4 ftco-animate">
                <div class="project-wrap hotel">
                    <a href="#" class="img rounded-pill" style="background-image: url('images/tours/@item.HinhAnh');">
                        <span class="price">@item.GiaGiam</span>
                    </a>

                    <div class="text p-4 rounded-pill" style="min-height:300px;">
                        <p class="star mb-2">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </p>
                        <span class="days">@item.SoNgay</span>
                        <h6><a style="overflow:hidden;" href="@url">@item.TenTour</a></h6>
                        
                        <p class="location"><span class="fa fa-map-marker"></span> @item.NoiKhoiHanh</p>
                        <ul>
                            <li><span class="flaticon-shower"></span>@item.Gia</li>
                            <li><span class="flaticon-king-size"></span>@item.GiaGiam</li>
                            @*<li><span class="flaticon-mountains"></span>Near Mountain</li>*@
                        </ul>
                    </div>
                </div>
            </div>
        }

    </div>
}