@model List<Tour>


@*<div class="form-field">
    <div class="icon"><span class="fa fa-search"></span></div>
    <input id="keyword" name="keyword" type="text" class="form-control" placeholder="Tìm địa điểm...">
</div>*@

    @if (Model != null && Model.Count() > 0)
    {
    <div class="product-item-wrap row">
            @foreach (var item in Model)
            {
                string url = $"/tour/{item.Alias}/{item.MaTour}.html";
                <div class="col-md-4 ftco-animate ">
                    <div class="project-wrap hotel">
                        <a href="#" class="img rounded-pill" style="background-image: url('AdminAssetsOne/images/tours/@item.HinhAnh');">
                        <span class="price">@item.GiaGiam.Value.ToString("#,##0") VND / Người</span>
                        </a>

                        <div class="text p-4 rounded-pill" style="min-height:300px;">
                            <p class="star mb-2">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </p>
                            <span class="days">@item.SoNgay</span>
                            <h6><a style="overflow:hidden;" href="@url">@item.TenTour</a></h6>

                            <ul>
                            <li class="location"><span class="fa fa-map-marker"></span> Nơi khởi hành: @item.NoiKhoiHanh</li>

                            <li class="location"><span class="fa-regular fa-calendar-days"></span> Số ngày: @item.SoNgay</li>
                            </ul>
                            <ul>
                            <li><span class="flaticon-shower"></span>Giá gốc: @item.Gia.Value.ToString("#,##0") VND</li>
                            <li><span class="flaticon-king-size"></span>Giá giảm: @item.GiaGiam.Value.ToString("#,##0") VND</li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            }

        </div>
    }


