@model TravelPY.Models.Tour
@{
    ViewData["Title"] = Model.TenTour;
    Layout = "~/Views/Shared/_Layout.cshtml";
    string url = $"/tour/{Model.Alias}/{Model.MaTour}.html";

    List<Tour> lsTour = ViewBag.lsTour;
}

<style>


    
    .categories > li > i {
        color: orangered;
        margin-right: 10px;
    }

    .categories > li > span {
    }
</style>
<img style="height: 500px; width:100%; background-position: left-center; display: block; object-fit:cover; " src="~/AdminAssetsOne/images/tours/@Model.HinhAnh" />
@*<div class="hero-wrap js-fullheight" style="background-image: url('AdminAssetsOne/images/tours/@Model.HinhAnh');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate">
                <span class="subheading">Welcome to Hoa Vàng - Cỏ Xanh</span>
                <h1 class="mb-4">Hoa Vàng - Cỏ Xanh Kinh nghiệm ăn uống</h1>
                <p class="caps">Cẩm nang để biết nên đi đâu ăn gì, ở đâu</p>
            </div>
            <a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex align-items-center justify-content-center mb-4">
                <span class="fa fa-play"></span>
            </a>
        </div>
    </div>
</div>*@

<section class="ftco-section ftco-no-pt ftco-no-pb text-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ftco-animate py-md-5 mt-md-5">
                <h2 class="mb-3">@Model.TenTour</h2>



                <div class="w3-container">


                    <div class="w3-bar w3-white">
                        <button class="w3-bar-item w3-button tablink w3-deep-orange" onclick="openCity(event,'ChiTiet')">Lịch trình chi tiết</button>
                        <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'HinhAnh')">Thư viện ảnh</button>
                    </div>

                    <div id="ChiTiet" class="w3-container w3-border city">

                        <p>@Html.Raw(Model.MoTa)</p>
                    </div>

                    <div id="HinhAnh" class="w3-container w3-border city" style="display:none">
                        <h2>Hình ảnh</h2>
                        <p>Chưa có hình ảnh về tour này.</p>
                    </div>


                </div>





                <div class="tag-widget post-tag-container mb-5 mt-5">
                    <div class="tagcloud">
                        <a href="#" class="tag-cloud-link">Ăn Uống</a>
                        <a href="#" class="tag-cloud-link">Địa Điểm</a>
                        <a href="#" class="tag-cloud-link">Khách Sạn</a>

                    </div>
                </div>

                @*<div class="about-author d-flex p-4 bg-light">
                <div class="bio mr-5">
                <img src="~/assets/images/Home/about-3.jpg" alt="Image placeholder" class="img-fluid mb-4">
                </div>
                <div class="desc">
                <h3>George Washington</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
                </div>
                </div>*@
            </div> <!-- .col-md-8 -->
            <div class="col-lg-4 sidebar ftco-animate bg-light py-md-5">

                <div class="sidebar-box ftco-animate py-md-5 mt-md-5">
                    <div class="categories">
                        <h5>Chi tiết Tour </h5>
                        <li><i class="fa-regular fa-calendar-days"></i>  <b>Ngày khởi hành:</b> @Model.NgayKhoiHanh</li>
                        <li><i class="fa-regular fa-clock"></i><b>Giờ khởi hành:</b> @Model.GioKhoiHanh giờ</li>
                        <li><i class="fa-solid fa-location-arrow"></i><b>Nơi khởi hành:</b> @Model.NoiKhoiHanh</li>
                        <li><i class="fa-solid fa-user"></i><b>Số chỗ:</b> @Model.SoCho</li>
                        <li><i class="fa-solid fa-qrcode"></i><b>Mã Tour:</b> @Model.MaTour</li>
                        <li><i class="fa-solid fa-car"></i><b>Phương tiện:</b> @Model.PhuongTien</li>
                        <li><i class="fa-sharp fa-solid fa-calendar-days"></i><b>Số ngày:</b> @Model.SoNgay</li>
                        <li class="quantity">
                            <div class="cart-plus-minus">
                                <i class="fa-solid fa-user"></i><b> Số người:</b>
                                <input id="txtsoLuong" name="txtsoLuong" class="cart-plus-minus-box" value="1" type="text">
                            </div>
                        </li>
                        <li class="add-to-cart">
                            <a class="btn btn-custom-size lg-size btn-primary btn-secondary-hover rounded-0" href="javascript:void(0)">Thêm vào giỏ hàng</a>
                            <input hidden asp-for="MaTour" />
                        </li>



                    </div>
                </div>

                <!--Tour liên quan-->
                <div class="sidebar-box ftco-animate">
                    <h3>Các Tour khác:</h3>
                    @if (lsTour != null && lsTour.Count() > 0)
                    {
                        @foreach (var item in lsTour)
                        {
                            string _url = $"/{item.Alias}/{item.MaTour}.html";
                            <div class="block-21 mb-4 d-flex">
                                <a class="blog-img mr-4" style="background-image: url('assets/images//tours/@item.HinhAnh');"></a>
                                <div class="text">
                                    <h3 class="heading"><a href="@_url">@item.TenTour</a></h3>
                                    <div class="meta">
                                        <div><a href="#"><span class="fa fa-calendar"></span>@item.SoNgay</a></div>
                                        <div><a href="#"><span class="fa fa-user"></span>@item.NgayKhoiHanh</a></div>
                                        @*<div><a href="#"><span class="fa fa-comment"></span> 19</a></div>*@
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>

            </div>




        </div>

    </div>
    </div>
</section>

@section Scripts{

    <script>

        function openCity(evt, cityName) {
            var i, x, tablinks;
            x = document.getElementsByClassName("city");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < x.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " w3-red";
        };

        $(document).ready(function () {
            $(function () {
                $(".add-to-cart").click(function () {
                    var productid = $('#MaTour').val();
                    var soLuong = $('#txtsoLuong').val();
                    $.ajax({
                        url: '/api/cart/add',
                        type: "POST",
                        dataType: "JSON",
                        data: {
                            productID: productid,
                            amount: soLuong
                        },
                        success: function (response) {
                            if (response.result == 'Redirect') {
                                window.location = response.url;
                            }
                            else {
                                loadHeaderCart(); //Add Product success
                                location.reload();
                            }
                            console.log(response); // log to the console to see whether it worked
                        },
                        error: function (error) {
                            alert("There was an error posting the data to the server: " + error.responseText);
                        }
                    });
                });

        @*$(".removecart").click(function () {
                var productid = $(this).attr("data-productid");
                $.ajax({
                url: "api/cart/remove",
                type: "POST",
                dataType: "JSON",
                data: { productID: productid },
                success: function (result) {
                if (result.success) {
                loadHeaderCart();//Reload lai gio hang
                location.reload();
                }
                },
                error: function (rs) {
                alert("Remove Cart Error !")
                }
                });
                });*@
                                                                        });
            function loadHeaderCart() {
                $('#miniCart').load("/AjaxContent/HeaderCart");
                $('#numberCart').load("/AjaxContent/NumberCart");
            }
        });
    </script>

}