@model List<Tour>
@if (Model != null)
{
    foreach (var item in Model)
    {
        string url = $"/{item.Alias}";
                <tr>
                    <td>@item.MaTour</td>
                    <td style="max-width:200px">
                @item.TenTour
                    </td>
                    <td>@item.MaDanhMucNavigation.TenDanhMuc</td>
                    <td>@item.SoNgay</td>
                    <td>@item.MaHdvNavigation.TenHdv</td>
                    <td>
                @if (item.TrangThai == true)
                {

                                <div class="">
                                    <label class="form-check-label">
                                        <input type="checkbox" checked data-toggle="toggle" data-onstyle="outline-success" data-offstyle="outline-danger" data-size="xs">
                                        Đang hoạt động
                                    </label>
                                </div>

                }
                else
                {
                                <div class="">
                                    <label class="form-check-label">
                                        <input type="checkbox" data-toggle="toggle" data-onstyle="outline-success" data-offstyle="outline-danger" data-size="xs">
                                        Không hoạt động
                                    </label>
                                </div>
                }
                    </td>
                    <td>
                        <a asp-area="Admin" asp-controller="AdminTour" asp-action="Details" asp-route-id="@item.MaTour" class="btn btn-outline-primary">Chi tiết</a>
                        <a asp-area="Admin" asp-controller="AdminTour" asp-action="Edit" asp-route-id="@item.MaTour" class="btn btn-outline-warning">Sửa</a>
                        <a asp-area="Admin" asp-controller="AdminTour" asp-action="Delete" asp-route-id="@item.MaTour" class="btn btn-outline-danger">Xoá</a>
                    </td>
                </tr>
    }
}