@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<TravelPY.Models.Tour>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Quản lí Tour";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutOne.cshtml";
}
<h3>QUẢN LÍ TOUR</h3>
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="AdminHome" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <span class="breadcrumb-item active">Danh sách Tour : trang @ViewBag.CurrentPage</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">

        <div class="row m-b-30">
            <div class="col-md-8">
                <div class="row">

                    <div class="col-md-6">
                        <div class="input-affix m-v-10">
                            <i class="prefix-icon anticon anticon-search opacity-04"></i>
                            <input id="keyword" name="keyword" type="text" class="form-control" placeholder="Tìm kiếm tour">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-affix m-v-10">
                            <select class="custom-select" id="txtCatID" name="txtCatID" style="min-width: 200px;" asp-items="ViewBag.DanhMuc">
                                <option selected>Chọn danh mục</option>
                                <option value="0">Chọn tất cả</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <a class="btn btn-primary" asp-area="Admin" asp-controller="AdminTour" asp-action="Create"><i class="anticon anticon-plus-circle m-r-5"></i><span>Thêm mới Tour</span></a>
            </div>
        </div>
        </br>
        <div class="table-responsive">
            <table class="table table-bordered table-hover mb-0">
                <thead>
                    <tr>
                        <th>Mã Tour</th>
                        <th style="max-width:200px">Tên Tour</th>
                        <th>Danh mục</th>
                        <th>Số ngày</th>
                        <th>Hướng dẫn viên</th>
                        <th>Trạng Thái</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody id="records_table">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            string url = $"/{item.Alias}";
                            <tr>
                                <td>@item.MaTour</td>
                                <td style="max-width:200px">
                                    @item.TenTour
                                </td>
                                <td>@item.MaDanhMucNavigation.TenDanhMuc</td>
                                <td>@item.SoNgay</td>
                                <td>@item.MaHdvNavigation.TenHdv</td>
                                <td>
                                    @if (item.TrangThai == true)
                                    {

                                        <div class="">
                                            <label class="form-check-label">
                                                <input type="checkbox" checked data-toggle="toggle" data-onstyle="outline-success" data-offstyle="outline-danger" data-size="xs">
                                                Đang hoạt động
                                            </label>
                                        </div>

                                    }
                                    else
                                    {
                                        <div class="">
                                            <label class="form-check-label">
                                                <input type="checkbox" data-toggle="toggle" data-onstyle="outline-success" data-offstyle="outline-danger" data-size="xs">
                                                Không hoạt động
                                            </label>
                                        </div>
                                    }
                                </td>
                                <td>
                                    <a asp-area="Admin" asp-controller="AdminTour" asp-action="Details" asp-route-id="@item.MaTour" class="btn btn-outline-primary">Chi tiết</a>
                                    <a asp-area="Admin" asp-controller="AdminTour" asp-action="Edit" asp-route-id="@item.MaTour" class="btn btn-outline-warning">Sửa</a>
                                    <a asp-area="Admin" asp-controller="AdminTour" asp-action="Delete" asp-route-id="@item.MaTour" class="btn btn-outline-danger">Xoá</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination float-right mt-1">
                    <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminTour" asp-route-MaDanhMuc="@ViewBag.CurrentCateID" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            jQuery("#txtCatID").change(function () {
                var maDanhMuc = jQuery(this).children(":selected").attr("value");
                maDanhMuc = parseFloat(maDanhMuc);
                $('#txtCatID option')
                    .removeAttr('selected');
                $("#txtCatID > [value=" + maDanhMuc + "]").attr("selected", "true");
                $.ajax({
                    url: '/Admin/AdminTour/Filtter',
                    datatype: "json",
                    type: "GET",
                    data: {
                        MaDanhMuc: maDanhMuc
                    },
                    async: true,
                    success: function (results) {
                        if (results.status == "success") {
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });

            $("#keyword").keyup(function () {
                var strkeyword = $('#keyword').val();
                $.ajax({
                    url: "@Url.Action("FindTour", "Search")",
                    datatype: "json",
                    type: "POST",
                    data: { keyword: strkeyword },
                    async: true,
                    success: function (results) {
                        $("#records_table").html("");
                        $("#records_table").html(results);
                    }
                });
            });
            $('#dataTable-1').DataTable(
                {
                    autoWidth: true,
                    "lengthMenu": [
                        [16, 32, 64, -1],
                        [16, 32, 64, "All"]
                    ]
                });
        });
    </script>

}



