@model TravelPY.Models.BaiViet

@{
    ViewData["Title"] = Model.TieuDe;
    Layout = "~/Views/Shared/_Layout.cshtml";
    string url = $"/{Model.Alias}/{Model.MaBaiViet}.html";
    
    List<BaiViet> Baivietlienquan = ViewBag.Baivietlienquan;
}

<img style="height: 500px; width:100%; background-position: left-center; display: block; object-fit:cover;" src="~/AdminAssetsOne/images/news/@Model.HinhAnh" />
@*<div class="hero-wrap js-fullheight" style="background-image: url('assets/images/Home/banh-hoi1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate">
                <span class="subheading">Welcome to Hoa Vàng - Cỏ Xanh</span>
                <h1 class="mb-4">Hoa Vàng - Cỏ Xanh Kinh nghiệm ăn uống</h1>
                <p class="caps">Cẩm nang để biết nên đi đâu ăn gì, ở đâu</p>
            </div>
            <a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex align-items-center justify-content-center mb-4">
                <span class="fa fa-play"></span>
            </a>
        </div>
    </div>
</div>*@

<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ftco-animate py-md-5 mt-md-5">
                <h2 class="mb-3">@Model.TieuDe</h2>
                @Html.Raw(Model.NoiDung)
                <div class="tag-widget post-tag-container mb-5 mt-5">
                    <div class="tagcloud">
                        <a href="/an-uong.html" class="tag-cloud-link">Ăn Uống</a>
                        <a href="/dia-diem.html" class="tag-cloud-link">Địa Điểm</a>
                        <a href="/khach-san.html" class="tag-cloud-link">Khách Sạn</a>
                        
                    </div>
                </div>

                <div class="about-author d-flex p-4 bg-light">
                    <div class="bio mr-5">
                        <img src="~/assets/images/Home/about-3.jpg" alt="Image placeholder" class="img-fluid mb-4">
                    </div>
                    <div class="desc">
                        <h3>George Washington</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
                    </div>
                </div>


                

            </div> <!-- .col-md-8 -->
            <div class="col-lg-4 sidebar ftco-animate bg-light py-md-5">
                @*<div class="sidebar-box pt-md-5">
                    <form action="#" class="search-form">
                        <div class="form-group">
                            <span class="icon fa fa-search"></span>
                            <input type="text" class="form-control" placeholder="Search...">
                        </div>
                    </form>
                </div>*@
                <div class="sidebar-box ftco-animate">
                    <div class="categories">
                        <h3>Danh mục bài viết</h3>
                        <li><a href="/an-uong.html">Ăn Uống <span></span></a></li>
                        <li><a href="/dia-diem.html">Đại Điểm <span>(22)</span></a></li>
                        <li><a href="/khach-san.html">Khách Sạn <span>(37)</span></a></li>
                        
                    </div>
                </div>

                <div class="sidebar-box ftco-animate">
                    <h3>Bài viết liên quan</h3>
                    @if (Baivietlienquan != null && Baivietlienquan.Count() > 0)
                    {
                    @foreach(var item in Baivietlienquan)
                    {
                        string _url = $"/{item.Alias}/{item.MaBaiViet}.html";
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url('AdminAssetsOne/images/news/@item.HinhAnh');"></a>
                            <div class="text">
                                <h3 class="heading"><a href="@_url">@item.TieuDe</a></h3>
                                <div class="meta">
                                    <div><a href="#"><span class="fa fa-calendar"></span>@item.NgayTao</a></div>
                                    <div><a href="#"><span class="fa fa-user"></span>@item.MaPageNavigation.TenPage</a></div>
                                    
                                </div>
                            </div>
                        </div>
                    }}

                    
                </div>

                

                
            </div>

        </div>
    </div>
</section>