@model TravelPY.ModelViews.XemDonHang
@{
    var total = Model.ChiTietDonHang.Sum(x => x.ThanhToan).Value.ToString("#,##0");
}
<h3>Thông tin đơn hàng: #@Model.DonHang.MaDatTour</h3>
<br />
<p>Ngày đặt hàng: @Model.DonHang.NgayDatTour</p>
@*<p>Trạng thái đơn hàng: @Model.DonHang.TransactStatus.Status</p>*@
<p>Tổng giá trị đơn hàng: <strong> @total VNĐ</strong></p>
@*<p>Ngày ship hàng: @Model.DonHang.ShipDate</p>*@

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>#</th>
                <th>Tên Tour</th>
                
                <th>Ngày đi</th>
                <th>Giờ đi</th>
                <th>Hướng dẫn viên</th>
                @*<th>Trạng thái</th>*@
                @*<th>Thành tiền</th>*@
            </tr>

            @foreach (var item in Model.ChiTietDonHang)
            {
                <tr>
                    <td>@item.MaTour</td>
                    <td>@item.MaTourNavigation.TenTour</td>
                    
                    @*<td>@item.MaTourNavigation.NgayKhoiHanh</td>*@
                    <td>@item.MaDatTourNavigation.NgayDi.Value.ToString("dd/MM/yyyy")</td>
                    
                    <td>@item.MaTourNavigation.GioKhoiHanh</td>
                    <td>@item.MaTourNavigation.MaHdvNavigation.TenHdv</td>
                    @*<td>@item.MaDatTourNavigation.MaTrangThaiNavigation.TenTrangThai</td>*@
                    @*<td>@item.ThanhToan.Value.ToString("#,##0") VNĐ</td>*@
                </tr>
            }
        </tbody>
    </table>
</div>


