@model TravelPY.Models.Page

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutOne.cshtml";
}

<div class="card-body">
    <h4 class="card-title">Thông tin tài khoản</h4>
    <div class="table-responsive">
        <table class="table text-white">
            <tbody>
                <tr>
                    <td>Mã Page:</td>
                    <td class="font-weight-semibold">@Model.MaPage</td>
                </tr>
                <tr>
                    <td>Tên Page:</td>
                    <td>@Model.TenPage</td>
                </tr>
                <tr>
                    <td>Số bài viết:</td>
                    <td>@Model.SoBaiViet</td>
                </tr>
                
                <tr>
                    <td>Hình ảnh:</td>
                    <td>
                        <img width="200" height="200" src="~/AdminAssetsOne/images/pages/@Model.HinhAnh" alt="@Model.TenPage" />
                    </td>
                </tr>
                
                <tr>
                    <td>Lịch trình chi tiết:</td>
                    <td>@Html.Raw(Model.NoiDung)</td>
                </tr>
            </tbody>

        </table>

        <div>
            <a class="btn btn-outline-primary btn-icon-text col-md-5" asp-area="Admin" asp-controller="AdminPage" asp-action="Edit" asp-route-id="@Model.MaPage">
                <i class="mdi mdi-file-check btn-icon-prepend"></i> Sửa
            </a>
            <a style="float:right" class="btn btn-outline-warning btn-icon-text col-md-5" asp-area="Admin" asp-controller="AdminPage" asp-action="Index">
                <i class="mdi mdi-reload btn-icon-prepend"></i> Trở về
            </a>
        </div>
    </div>
</div>
